@import "base.less";
@import "lesshat.less";
@import "grid.less";
@import "mixins.less";


/* ==========================================================================
	GENERAL LAYOUT
   ========================================================================== */
*{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
/* ==========================================================================
	TYPOGRAPHY
   ========================================================================== */


/* ==========================================================================
	PAGE HEADER
   ========================================================================== */
header {
    
}

/* ==========================================================================
	NAVIGATION
   ========================================================================== */


/* ==========================================================================
	SIDEBAR
   ========================================================================== */


/* ==========================================================================
	FOOTER
   ========================================================================== */
footer {
    
}

/* ==========================================================================
	HOMEPAGE
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}
